<div class="jumbotron">
  <article class="post" style=" overflow: hidden">
    <div class="post-preview col-xs-10 no-gutter">
      <h2>{{news.title}}</h2>

      <p>{{news.text}}</p>

      <p class="meta">
        {{news.author}} -- {{news.data}}
      </p>
    </div>
  </article>



  <div ng-controller="CommentController">

    <!-- Comments Form -->
    <div class="well">
      <h4>Leave a Comment:</h4>
      <form role="form" ng-submit="createComm(newComment)">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="newComment.author" placeholder="Author">
          </div>
        <div class="form-group">
          <textarea class="form-control" ng-model="newComment.comment" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <!--Write users and their comments-->
    <div ng-repeat="comm in comments">
      <hr/>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">{{comm.author}}
            <small>{{comm.data}}</small>
          </h4>
          {{comm.comment}}
        </div>
      </div>
    </div>


  </div>


  </div>

